<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coin Market</title>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/style.css">
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top visible-xs">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Market Cap <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/">All</a></li>
                        <li><a href="/coins/">Coins</a></li>
                        <li><a href="/tokens/">Tokens</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trade Volume <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/currencies/volume/24-hour/">24 Hour Volume Rankings (Currency)</a></li>
                        <li><a href="/exchanges/volume/24-hour/">24 Hour Volume Rankings (Exchange)</a></li>
                        <li><a href="/currencies/volume/monthly/">Monthly Volume Rankings (Currency)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trending <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/gainers-losers/">Gainers and Losers</a></li>
                        <li><a href="/new/">Recently Added</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/charts/">Global Charts</a></li>
                        <li><a href="/historical/">Historical Snapshots</a></li>
                        <li><a href="/calculator/">Currency Converter Calculator</a></li>
                        <li><a href="/widget/">Website Widgets</a></li>
                    </ul>
                </li>
            </ul>
            <form action="/currencies/search/" class="navbar-form navbar-right quick-search-container" role="search">
                <div class="form-group">
                    <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input type="text" class="form-control quick-search-box js-quick-search tt-input" placeholder="Search Currencies" name="q" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-currencies"></div></span></span>
                    <button class="btn btn-primary hidden-sm hidden-md hidden-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </div>
                <button class="btn btn-primary hidden-xs" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <div class="bottom-margin-1x hidden-sm hidden-md hidden-lg"></div>
        </div>
    </div>
</nav>

<div class="container-fluid global-stats hidden-xs">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="list-inline stat-counters small" data-global-stats-container="">
                    <li>Cryptocurrencies: <strong><a href="/all/views/all/"><span data-global-stats-cryptocurrencies="">1324</span></a></strong></li>
                    <li>/ Markets: <strong><a href="/currencies/volume/24-hour/"><span data-global-stats-markets="">7069</span></a></strong></li>
                </ul>
            </div>
            <div class="col-sm-6 text-center">
                <ul class="list-inline stat-counters small" data-global-stats-container="">
                    <li>Market Cap: <strong><a href="/charts/"><span data-global-stats-market-cap="" data-global-currency-market-cap="">$341,515,694,507</span></a></strong></li>
                    <li> / 24h Vol: <strong><a href="/charts/"><span data-global-stats-volume="" data-global-currency-volume="">$14,360,824,331</span></a></strong> / BTC Dominance: <strong><a href="/charts/#dominance-percentage"><span data-global-stats-btc-dominance="">56.0</span>%</a></strong></li>
                </ul>
            </div>
            <div class="col-sm-3 text-right">
                <div data-global-currency-switch="" class="btn-group global-currency-dropdown-container">
                    <button type="button" class="btn btn-xs dropdown-toggle global-currency-dropdown" data-toggle="dropdown">
                        <span data-currency-display="">USD</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-center" role="menu">
                        <li class="pointer"><a data-currency-toggle="">USD</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a data-currency-toggle="">AUD</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a data-currency-toggle="">BRL</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a data-currency-toggle="">CAD</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a data-currency-toggle="">CHF</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a data-currency-toggle="">CLP</a></li>
                    </ul>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-xs dropdown-toggle language-dropdown" data-toggle="dropdown">
                        <span data-language-dropdown="">English</span> <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu text-center dropdown-menu-right" role="menu">
                        <li class="pointer"><a href="/new/" data-language-toggle="en">English</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a href="/es/new/" data-language-toggle="es">Español</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a href="/pt-br/new/" data-language-toggle="pt-br">Português Brasil</a></li>
                        <li class="divider"></li>
                        <li class="pointer"><a href="/zh/new/" data-language-toggle="zh">简体中文</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row container">
        <h1 class="title text-center">Cryptocurrency Market Capitalizations</h1>
        <hr/>
        <nav class="navbar desktop navbar-default hidden-xs">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Market Cap <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/">All</a></li>
                            <li><a href="/coins/">Coins</a></li>
                            <li><a href="/tokens/">Tokens</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trade Volume <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/currencies/volume/24-hour/">24 Hour Volume Rankings (Currency)</a></li>
                            <li><a href="/exchanges/volume/24-hour/">24 Hour Volume Rankings (Exchange)</a></li>
                            <li><a href="/currencies/volume/monthly/">Monthly Volume Rankings (Currency)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Trending <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/gainers-losers/">Gainers and Losers</a></li>
                            <li><a href="/new/">Recently Added</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tools <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/charts/">Global Charts</a></li>
                            <li><a href="/historical/">Historical Snapshots</a></li>
                            <li><a href="/calculator/">Currency Converter Calculator</a></li>
                            <li><a href="/widget/">Website Widgets</a></li>
                        </ul>
                    </li>
                </ul>
                <form action="/currencies/search/" class="navbar-form navbar-right quick-search-container" role="search">
                    <div class="form-group">
                        <span class="twitter-typeahead" style="position: relative; display: inline-block; direction: ltr;"><input type="text" class="form-control quick-search-box js-quick-search tt-input" placeholder="Search Currencies" name="q" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><span class="tt-dropdown-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;"><div class="tt-dataset-currencies"></div></span></span>
                        <button class="btn btn-primary hidden-sm hidden-md hidden-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                    <button class="btn btn-primary hidden-xs" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                </form>
                <div class="bottom-margin-1x hidden-sm hidden-md hidden-lg"></div>
            </div>
        </nav>
        <h3 class="text-center">Recently Added</h3>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th id="th-name">Name</th>
                    <th id="th-symbol">Symbol</th>
                    <th id="th-added" class="text-right">Added</th>
                    <th id="th-marketcap" class="text-right">Market Cap</th>
                    <th id="th-price" class="text-right">Price</th>
                    <th id="th-totalsupply" class="text-right" title="The number of coins in existence available to the public">Circulating Supply</th>
                    <th id="th-volume" class="text-right">Volume (24h)</th>
                    <th id="th-change24h" class="text-right">% 24h</th>
                </tr>

                </thead>
                <tbody>

                <% data.forEach(function(tableData) { %>
                    <tr>
                        <td id="id-<%= tableData.name.toLowerCase() %>">
                            <img src="<%= tableData.url %>" class="currency-logo" alt="<%= tableData.name %>">
                            <a href="#"><%= tableData.name %></a>
                        </td>
                        <td class="text-left"><%= tableData.symbol %></td>
                        <td class="text-right"><%= tableData.addedDate %></td>
                        <td class="no-wrap market-cap text-right"><%= tableData.marketCap %></td>
                        <td class="no-wrap text-right">
                        <a href="#" class="price"><%= tableData.price %></a>
                        </td>
                        <td class="no-wrap text-right circulating-supply">
                            <a href="#"><%= tableData.circulating %></a>*
                        </td>
                        <td class="no-wrap text-right ">
                            <a href="#" class="volume"><%= tableData.volume %></a>
                        </td>
                        <% if (tableData.percent > 0) { %>
                            <td class="no-wrap percent-24h text-right negative_change"><%= tableData.percent %>%</td>
                        <% } else if (tableData.percent != null) { %>
                            <td class="no-wrap percent-24h text-right positive_change"><%= tableData.percent %>%</td>
                        <% } else { %>
                            <td class="text-right">?</td>
                        <% } %>
                    </tr>
                <%})%>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
